<div id="systemStatsPage" style="display: none"></div>

<div class="centrify mb-4">
	<div class="logo">
		<svg class="pi-anim" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00c1fd" d="M256 512A254 254 0 010 256 254 254 0 01256 0a254 254 0 01256 256 254 254 0 01-256 256z" data-original="#00C1FD"/><path fill="#08a8ee" d="M437 75C389 27 324 0 256 0v512a254 254 0 00256-256c0-68-27-133-75-181z" data-original="#08A8EE"/><g fill="#e4f7ff"><path class="info-i" d="M301 371V221H191v30h20v120h-21v30h130v-30zM256 191a45 45 0 100-90 45 45 0 000 90z" data-original="#E4F7FF"/></g><path class="info-i2" fill="#cbedfd" d="M256 191a45 45 0 000-90v90zM301 371V221h-45v180h64v-30z" class="active-path" data-old_color="#CBEDFD" data-original="#CBEDFD"/></svg>
	</div>

	<h1>System Stats</h1>
</div>

<% if Rails.env.production? %>
	<div class="centrify"><h6>Warning! On a Production Server this could mean nothing</h6></div>
	<hr>
<% end %>

<h4>Processor</h4>
	<%= LinuxStat::CPU.model %>
	[ <%= LinuxStat::CPU.count %> ]
<hr>

<h4>CPU Usages</h4>
	<div id="cpuUsages">
		<%= render 'stats/cpu_usage' %>
	</div>
<hr>

<h4>Memory</h4>
	<div id="memory"><%= render 'stats/memory' %></div>
<hr>

<h4>Swap</h4>
	<div id="memory"><%= render 'stats/swap' %></div>
<hr>

<h4>Uptime</h4>
	<div id="uptime"><%= render 'stats/uptime' %></div>
<hr>

<h4>Date & Time</h4>
	<div id="datetime"><%= render 'stats/datetime' %></div>
<hr>
