<%= LS::OS.distribution %> <%= LS::OS.distrib_version %> ( <%= LS::OS.machine %> <%= LS::OS.bits %> bits )
<br>
Root: <strong><%= LS::Mounts.root %></strong>
<br>
HostName: <strong><%= LS::Sysconf.hostname %></strong>
<br>
NodeName: <strong><%= LS::Uname.nodename %></strong>
<br>
IP: <strong><%= LS::Net.ipv4_private %></strong>
<br>

Load Average: <strong>
</strong>

	<table class="styled">
		<thead>
			<tr>
				<th>1s</th>
				<th>5s</th>
				<th>15s</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<% LS::Sysinfo.loads.each do |x| %>
					<td><%= "%07.4f" % x %></td>
				<% end %>
			</tr>
		</tbody>
	</table>
