<!DOCTYPE html>
<html>
	<head>
		<title>Pi Calculator</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= seo_tags(image_url('pi.png')) %>
		<%= favicon_link_tag 'pi.png' %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'btn_outline_animated', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="center">
			<div class="container p-3">
				<div class="jumbotron jumbotron-bg">
					<%= yield %>
					<div id="notification"></div>

					<div class="centrify mb-4 no-select">
						<% unless current_page?(api_example_path) %>
							<%= link_to api_example_path do %>
								<%= image_tag 'api.svg', class: 'icon icon16', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'API Guide' %>
							<% end %>
						<% else %>
							<%= link_to root_path do %>
								<%= image_tag 'home.svg', class: 'icon icon16', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'Home' %>
							<% end %>
						<% end %>

						<%= link_to 'https://github.com/Souravgoswami/rails_pi' do %>
							<%= image_tag 'github.svg', class: 'icon icon16', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'Github' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
